body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
.footer{
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.page-Title{
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
    max-width: 500px;
    border-radius: 15px;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}



#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}




button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    background-color: hsl(0, 0%, 30%);
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 25%);
}

.operator{
    background-color: hsl(35, 100%, 55%);
}
.operator:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator:active{
    background-color: hsl(35, 100%, 75%);
}
